@charset "UTF-8";
/*ESTILOS RESET*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

li {
  display: inline-block;
}

#body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

#main {
  min-height: 100vh;
  padding: 0 70px;
}

/*LOGO Y TITULO NAVBAR*/
.LogoTitulo {
  display: flex;
}

.LogoTitulo img {
  width: 65px;
  height: 65px;
  animation: giro 7s infinite linear;
}

.LogoTitulo div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7px;
}

.LogoTitulo h1 {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

.LogoTitulo h2 {
  font-size: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*ANIMACION*/
@keyframes giro {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*HICE UNO PARA MOSTRAR QUE SE ENTENDIO*/
/*HICE UNA PARA MOSTRAR QUE SE ENTENDIO*/
/*ESTILOS CONTENIDO*/
#main {
  background-image: url(../images/logoindex.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
#main .ParrafoMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  padding-top: 50px;
}
#main .ParrafoMain p {
  margin-bottom: 30px;
  color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: fit-content;
}

/*PARTE INFERIOR MAIN*/
.ParteInferiorMain {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.ParteInferiorMain li {
  padding: 50px;
  margin: 0 10px;
  border: solid 2px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  text-align: center;
  flex: 1;
  display: flex;
  align-items: center;
}

/*MAIN CON GRILLAS PLAN NUTRICIONAL - RUTINAS - SEDES*/
#mainPlan, #mainRutinas, #mainSedes {
  min-height: 100vh;
  width: 100%;
  display: flex;
}
#mainPlan .GrillasMain, #mainRutinas .GrillasMain, #mainSedes .GrillasMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 20px;
}
#mainPlan .GrillasMain .ImagenAlimentos, #mainRutinas .GrillasMain .ImagenAlimentos, #mainSedes .GrillasMain .ImagenAlimentos {
  grid-column: 1/4;
  grid-row: 1/2;
  background-image: url(../images/comida.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#mainPlan .GrillasMain .TextoAlimentos, #mainRutinas .GrillasMain .TextoAlimentos, #mainSedes .GrillasMain .TextoAlimentos {
  padding: 0 50px;
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  align-content: center;
}
#mainPlan .GrillasMain .TextoAlimentos p, #mainRutinas .GrillasMain .TextoAlimentos p, #mainSedes .GrillasMain .TextoAlimentos p {
  color: white;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: fit-content;
}
#mainPlan .GrillasMain .Objetivo1, #mainPlan .GrillasMain .Objetivo2, #mainPlan .GrillasMain .Objetivo3, #mainRutinas .GrillasMain .Objetivo1, #mainRutinas .GrillasMain .Objetivo2, #mainRutinas .GrillasMain .Objetivo3, #mainSedes .GrillasMain .Objetivo1, #mainSedes .GrillasMain .Objetivo2, #mainSedes .GrillasMain .Objetivo3 {
  text-align: center;
}
#mainPlan .GrillasMain .Objetivo1 p, #mainPlan .GrillasMain .Objetivo2 p, #mainPlan .GrillasMain .Objetivo3 p, #mainRutinas .GrillasMain .Objetivo1 p, #mainRutinas .GrillasMain .Objetivo2 p, #mainRutinas .GrillasMain .Objetivo3 p, #mainSedes .GrillasMain .Objetivo1 p, #mainSedes .GrillasMain .Objetivo2 p, #mainSedes .GrillasMain .Objetivo3 p {
  color: white;
  padding: 40px 20px;
  font-size: 17px;
}
#mainPlan .GrillasMain .Objetivo1, #mainRutinas .GrillasMain .Objetivo1, #mainSedes .GrillasMain .Objetivo1 {
  background-color: black;
  grid-column: 1/2;
  grid-row: 2/3;
}
#mainPlan .GrillasMain .Objetivo2, #mainRutinas .GrillasMain .Objetivo2, #mainSedes .GrillasMain .Objetivo2 {
  background-color: black;
  grid-column: 2/3;
  grid-row: 2/3;
}
#mainPlan .GrillasMain .Objetivo3, #mainRutinas .GrillasMain .Objetivo3, #mainSedes .GrillasMain .Objetivo3 {
  background-color: black;
  grid-column: 3/4;
  grid-row: 2/3;
}
#mainPlan .GrillasMain h1, #mainRutinas .GrillasMain h1, #mainSedes .GrillasMain h1 {
  border: solid 2px black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: green;
}
#mainPlan .GrillasMain .ImagenRutina, #mainRutinas .GrillasMain .ImagenRutina, #mainSedes .GrillasMain .ImagenRutina {
  grid-column: 1/4;
  grid-row: 1/2;
  background-image: url(../images/rutinafondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#mainPlan .GrillasMain .TextoRutina, #mainRutinas .GrillasMain .TextoRutina, #mainSedes .GrillasMain .TextoRutina {
  padding: 0 50px;
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  align-content: center;
}
#mainPlan .GrillasMain .TextoRutina p, #mainRutinas .GrillasMain .TextoRutina p, #mainSedes .GrillasMain .TextoRutina p {
  color: white;
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: fit-content;
}
#mainPlan .GrillasSedes, #mainRutinas .GrillasSedes, #mainSedes .GrillasSedes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
  column-gap: 20px;
}
#mainPlan .GrillasSedes img, #mainRutinas .GrillasSedes img, #mainSedes .GrillasSedes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#mainPlan .GrillasSedes .imagen1, #mainRutinas .GrillasSedes .imagen1, #mainSedes .GrillasSedes .imagen1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#mainPlan .GrillasSedes .imagen2, #mainRutinas .GrillasSedes .imagen2, #mainSedes .GrillasSedes .imagen2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
#mainPlan .GrillasSedes .imagen3, #mainRutinas .GrillasSedes .imagen3, #mainSedes .GrillasSedes .imagen3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
#mainPlan .GrillasSedes .imagen4, #mainRutinas .GrillasSedes .imagen4, #mainSedes .GrillasSedes .imagen4 {
  grid-column: 1/2;
  grid-row: 2/3;
}
#mainPlan .GrillasSedes .imagen5, #mainRutinas .GrillasSedes .imagen5, #mainSedes .GrillasSedes .imagen5 {
  grid-column: 2/3;
  grid-row: 2/3;
}
#mainPlan .GrillasSedes .imagen6, #mainRutinas .GrillasSedes .imagen6, #mainSedes .GrillasSedes .imagen6 {
  grid-column: 3/4;
  grid-row: 2/3;
}

/*MAIN AGENDAR TURNO*/
#mainAgendar {
  background: linear-gradient(to right, rgb(151, 150, 150), rgb(0, 0, 0));
  background-size: cover;
  background-position: center;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  padding: 50px 200px;
}
#mainAgendar div {
  display: flex;
  justify-content: center;
}
#mainAgendar div h2 {
  color: white;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  max-width: fit-content;
  border-radius: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*ESTILOS FOOTER*/
#footer {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: white;
  display: flex;
  border-top: black;
}
#footer section {
  width: 100%;
}
#footer .LogoTituloFooter {
  display: flex;
}
#footer .LogoTituloFooter div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .LogoTituloFooter h1 {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}
#footer .LogoTituloFooter h2 {
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#footer .LogoTituloFooter img {
  width: 200px;
  height: 200px;
}
#footer .Copyright {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#footer .Copyright h4 {
  font-size: 15px;
}
#footer .Redes {
  margin-right: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#footer .Redes a:hover {
  transform: scale(1.2);
}
#footer .Redes img {
  width: 70px;
  height: 70px;
}

/*DISEÑOS RESPONSIVE - INICIO*/
@media (max-width: 920px) {
  .ParteInferiorMain {
    flex-direction: column;
    align-items: center;
  }
  .ParteInferiorMain li {
    margin: 10px 0;
    width: 80%;
    justify-content: center;
  }
  #footer .LogoTituloFooter {
    flex-direction: column;
    align-items: center;
  }
  #footer .LogoTituloFooter img {
    width: 150px;
    height: 150px;
  }
  #footer .LogoTituloFooter h1 {
    font-size: 40px;
  }
  #footer .LogoTituloFooter h2 {
    font-size: 20px;
  }
  #footer .Copyright {
    margin-bottom: 0;
    align-items: center;
  }
  #footer .Copyright h3 {
    font-size: 25px;
  }
  #footer .Copyright h4 {
    font-size: 12px;
  }
}
@media (max-width: 690px) {
  #footer .LogoTituloFooter h1 {
    font-size: 30px;
  }
  #footer .LogoTituloFooter h2 {
    font-size: 15px;
  }
  #footer .LogoTituloFooter img {
    width: 100px;
    height: 100px;
  }
  #footer .Copyright h3 {
    font-size: 14px;
  }
  #footer .Copyright h4 {
    font-size: 11px;
  }
  #footer .Redes {
    flex-direction: column;
  }
  #footer .Redes img {
    width: 40px;
    height: 40px;
  }
}
/*DISEÑOS RESPONSIVE - PLAN NUTRICIONAL - RUTINAS*/
@media (max-width: 770px) {
  #mainPlan .GrillasMain, #mainRutinas .GrillasMain {
    grid-template-rows: 1fr;
  }
  #mainPlan .GrillasMain h1, #mainRutinas .GrillasMain h1 {
    font-size: 24px;
  }
  #mainPlan .GrillasMain .Objetivo1, #mainPlan .GrillasMain .Objetivo2, #mainPlan .GrillasMain .Objetivo3, #mainRutinas .GrillasMain .Objetivo1, #mainRutinas .GrillasMain .Objetivo2, #mainRutinas .GrillasMain .Objetivo3 {
    grid-column: 1/-1;
    grid-row: auto;
  }
  #mainPlan .GrillasMain .Objetivo1 p, #mainPlan .GrillasMain .Objetivo2 p, #mainPlan .GrillasMain .Objetivo3 p, #mainRutinas .GrillasMain .Objetivo1 p, #mainRutinas .GrillasMain .Objetivo2 p, #mainRutinas .GrillasMain .Objetivo3 p {
    padding: 20px 10px;
    font-size: 15px;
  }
}
/*DISEÑOS RESPONSIVE - NUESTRAS SEDES*/
@media (max-width: 770px) {
  #mainSedes .GrillasSedes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #mainSedes .GrillasSedes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #mainSedes .GrillasSedes .imagen1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  #mainSedes .GrillasSedes .imagen2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  #mainSedes .GrillasSedes .imagen3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  #mainSedes .GrillasSedes .imagen4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  #mainSedes .GrillasSedes .imagen5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  #mainSedes .GrillasSedes .imagen6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
/*DISEÑOS RESPONSIVE - AGENDAR TURNO*/
@media (max-width: 750px) {
  #mainAgendar {
    padding: 50px 100px;
  }
}

/*# sourceMappingURL=style.css.map */
