/*LOGO Y TITULO NAVBAR*/

.LogoTitulo {
    display: flex;
}

.LogoTitulo img {
    width: 65px;
    height: 65px;
    animation: giro 7s infinite linear;
}

.LogoTitulo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7px;
}

.LogoTitulo h1 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}

.LogoTitulo h2 {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*ANIMACION*/

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}