@import "mixins";

/*DISEÑOS RESPONSIVE - INICIO*/

@media (max-width: 920px) {
    .ParteInferiorMain {
        flex-direction: column; 
        align-items: center;
        li {
            margin: 10px 0; 
            width: 80%; 
            justify-content: center;
        }
    }
    #footer {
        .LogoTituloFooter {
            flex-direction: column; 
            align-items: center;
            img {
                width: 150px; 
                height: 150px; 
            }
            h1 {
                font-size: 40px; 
            }
            h2 {
                font-size: 20px;
            }
        }
        .Copyright {
            margin-bottom: 0;
            align-items: center;
            h3 {
                font-size: 25px;
            }
            h4 {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 690px) {
    #footer{
        .LogoTituloFooter h1{
            font-size: 30px;
        }
        .LogoTituloFooter h2 {
            font-size: 15px;
        }
        .LogoTituloFooter img {
            width: 100px;
            height: 100px;
        }
        .Copyright h3 {
            font-size: 14px;
        }
        .Copyright h4 {
            font-size: 11px;
        }
        .Redes {
            flex-direction: column;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (min-width: 1600px) {
    #main {
        .ParrafoMain p {
            @include parrafo2
        }
        .ParteInferiorMain li {
            padding: 80px;
            font-size: 60px;
        }
    }
}

/*DISEÑOS RESPONSIVE - PLAN NUTRICIONAL - RUTINAS*/

@media (max-width: 770px) {
    #mainPlan, #mainRutinas {
        .GrillasMain {
            grid-template-rows: 1fr;
            h1 {
                font-size: 24px;
            }
            .Objetivo1, .Objetivo2, .Objetivo3 {
                grid-column: 1 / -1;
                grid-row: auto;
                p {
                    padding: 20px 10px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (min-width: 1900px) {
    #mainPlan, #mainRutinas {
        .GrillasMain {
            .TextoAlimentos p {
                font-size: 40px;
            }
            .Objetivo1, .Objetivo2, .Objetivo3 {
                h1 {
                    font-size: 65px;
                }
                p {
                    font-size: 45px;
                }
            }
            .TextoRutina p {
                font-size: 40px;
            }
        }
    }
}

/*DISEÑOS RESPONSIVE - NUESTRAS SEDES*/

@media (max-width: 770px) {
    #mainSedes {
        .GrillasSedes {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        
            .imagen1 {
                grid-column: 1/2;
                grid-row: 1/2;    
            }
            .imagen2 {
                grid-column: 2/3; 
                grid-row: 1/2;    
            }
            .imagen3 {
                grid-column: 1/2; 
                grid-row: 2/3;    
            }
            .imagen4 {
                grid-column: 2/3;
                grid-row: 2/3;    
            }
            .imagen5 {
                grid-column: 1/2; 
                grid-row: 3/4;    
            }
            .imagen6 {
                grid-column: 2/3;
                grid-row: 3/4;    
            }
        }
    }
}

/*DISEÑOS RESPONSIVE - AGENDAR TURNO*/

@media (max-width: 750px) {
    #mainAgendar {
        padding: 50px 100px;
    }
}

@media (min-width: 1400px) {
    #mainAgendar {
        padding: 50px 150px;
        h2 {
            font-size: 50px;
        }
        input {
            font-size: 40px;
        }
        select {
            font-size: 40px;
        }
        label {
            margin-bottom: 10px;
            font-size: 40px;
        }
    }
}
